@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.container {
  margin-top: 7rem;
  text-align: justify;
  margin-bottom: 3rem;
}

.head-title {
  font-weight: 700;
}

.list-content {
  margin-top: 0.75rem;
  font-size: 1.025rem;
  font-weight: 700;
}

.link-task {
  text-decoration: none;
  font-weight: 700;
  font-size: 1.075rem;
  color: #005193;
}

.link-task:hover {
  color: #f05b07;
}

.task-images {
  width: 100%;
}

.task-img {
  width: 100%;
}

.list-paragraph {
  margin-bottom: 0.4rem;
}

.list-paragraph-bootstrap,
.list-paragraph-clean-code {
  font-weight: normal;
  list-style: disc outside;
}
